<div class="container-fluid">

    <label for="add1">Address1 </label>
    <input type="text" name="add1" class="form-control" [(ngModel)]="address.add1">
    <label for="add2">Address2</label>
    <input type="text" name="add2" class="form-control" [(ngModel)]="address.add2">
    <label for="pincode">Pincode</label>
    <input type="text" name="pincode" class="form-control" [(ngModel)]="address.pincode">
    <label for="city">City</label>
    <input type="text" name="city" class="form-control" [(ngModel)]="address.city">
    <label for="state">State</label>
    <input type="text" name="state" class="form-control" [(ngModel)]="address.state">
</div>