
<!-- <app-template-driven-component/> -->

<div>
    <button type="submit" class="btn btn-primary" routerLink=""> register</button>
    <button type="submit" class="btn btn-primary" routerLink="forgotPassword">forgotPassword</button>
    <button type="submit" class="btn btn-primary" routerLink="addrestaurant">Add Restaurent</button>
    <button type="submit" class="btn btn-primary" routerLink="login">Login</button>

    <a routerLink="/createaccount">Account</a>
 <a routerLink="/search account">Account Lookup</a>

    {{fullNameFromChild}}
</div>